<section id="about-section" class="about">
    <div class="row">
        <div class="col-lg-4">
          <img src="assets/images/S.webp" class="img-fluid" alt="">
        </div>
    <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
      <div class="py-md-5">
          <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                  
                  <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                      <div class="text">
                          <span class="subheading"><h2>Hello! This is Soorya</h2></span>
                          <h1 class="mb-4 mt-3">Creative <span>FullStack</span>Developer</h1>
                          <p class="btn"><a href="#" class="btn btn-warning float-right text-center">Hire me</a> 
                            <p class="btn"><a href="#" class="btn btn-warning float-right text-center">Download CV</a> 
                              <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">Personal Info</h2>
                               <ul class="about-info mt-4 px-md-0 px-2">
                                <div class="info">
                                  <li class="d-flex"><span><b>Name:</b></span> &nbsp;&nbsp;<span>Soorya Soman</span></li>
                                  <li class="d-flex"><span><b>Address:</b></span>&nbsp;&nbsp; <span>India</span></li>
                                  <li class="d-flex"><span><b>mail:</b></span> &nbsp;&nbsp;<span>sooryasomasekhar@gmail.com</span></li>
                                  <li class="d-flex"><span><b>Phone:</b> </span> &nbsp;&nbsp;<span>+1-2234-5678-9-0</span></li>
                                </div></ul>   
                            </div>
                      </div>
                  </div>
                  
              </div>
 </div>  
 </div>
 </div>
</section>