
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up"><div class="section-title">
        <h2 align-items="center">Portfolio</h2>
        <hr>
      </div>
       </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="image">
              <img src="https://visualjournal.it/content/home/2_2014/100_project/2.jpg" />
            </div>
            <div
             class="card-inner">
              <div class="header">
                <h2>Project1</h2>
              
            </div>
            
              </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="card">
            <div class="image">
              <img src="https://visualjournal.it/content/home/2_2014/100_project/2.jpg" />
            </div>
            <div class="card-inner">
              <div class="header">
                <h2>Project2</h2>
               
            </div>
            
              </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="image">
              <img src="https://visualjournal.it/content/home/2_2014/100_project/2.jpg" />
            </div>
            <div class="card-inner">
              <div class="header">
                <h2>Project3</h2>
                
            </div>
           
              </div>
          </div>
        </div>
      </div>
        
    </section>
