<section class="ftco-section" id="services-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <h2 class="mb-4">I do awesome services for my clients</h2>
       </div>
        </div>
<div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                    <div class="icon d-flex align-items-center justify-content-center">
                    <div class="media-body">
                        <h3 class="heading mb-3">Web Design</h3>
                        </div>
                        </div>
                </div> 
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span class="flaticon-app-development"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Web Application</h3>
                        
                    </div>
                </div> 
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span class="flaticon-web-programming"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Web Development</h3>
                     
                    </div>
                </div> 
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 services d-block bg-white rounded-lg shadow ftco-animate">
                    <div class="icon shadow d-flex align-items-center justify-content-center"><span class="flaticon-branding"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Banner Design</h3>
                   
                    </div>
                </div> 
            </div>
        </div></div>

</section>
<br>
