<section class="ftco-section testimony-section bg-light" id="testimonial-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
                <span class="subheading"><h1><b>Testimonies</b></h1></span>
                <h3 class="mb-4">What client says about?</h3>
                
                <div class="col-lg-10 offset-lg-1 pt-5 pb-5 bg-primary text-light">
                    <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;width:100%;">
                      <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active text-center p-4">
                          <blockquote class="blockquote text-center">
                            <p class="mb-0"><i class="fa fa-quote-left"></i> "Incredible services and amazing customer support"
                            </p>
                            <footer class="blockquote-footer text-light"><br>Joy Smith <br><cite title="Source Title">customer</cite></footer>
                            <!-- Client review stars -->
                            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                            <p class="client-review-stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star-half-alt"></i>
                              <i class="far fa-star"></i>
                            </p>
                          </blockquote>
                        </div>
                        <div class="carousel-item text-center p-4">
                          <blockquote class="blockquote text-center">
                            <p class="mb-0"><i class="fa fa-quote-left"></i> Organised and Efficient
                            </p><br>
                            <footer class="blockquote-footer text-light">Christina <br><cite title="Source Title"> Developer</cite></footer>
                            <!-- Client review stars -->
                            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                            <p class="client-review-stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </p>
                          </blockquote>
                        </div>
                        <div class="carousel-item text-center p-4">
                          <blockquote class="blockquote text-center">
                            <p class="mb-0"><i class="fa fa-quote-left"></i> Approcable
                            </p><br>
                            <footer class="blockquote-footer text-white">Albert <br> <cite title="Source Title">Designer</cite></footer>
                            <!-- Client review stars -->
                            <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                            <p class="client-review-stars">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                      <ol class="carousel-indicators">
                        <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
                        <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
                      </ol>
                    </div>
                  </div>
            
            </div>
        
        </div>
       </div>
    
    </section>
