 <!--Section: Design Block-->
 <section id="home-section=">
    <div id="intro" class="bg-image" style="
        background-image: url('https://cutewallpaper.org/21/blue-background-gif/Blue-Total-Blur-Color-Abstract-HD-Animated-Background-153-GIF.gif');
        height: 20vh; ">
     
        <div class="container d-flex justify-content-center align-items-center h-100">
          <div class="row align-items-center">
            <div class="col-12">
             
            
            </div>   
          </div>
        </div>
      </div>

</section>
