
  .display-1 {
    font-weight: 300 !important;
    letter-spacing: .5px;

    
  }
  
  @media (min-width: 1500px) {
    .display-1 {
      font-size: 10rem;
    }
  }
  .pic{
    
    height: 300px;
    width: 250px;
    align-content: right;
    margin-left: 90%;
    margin-bottom:95% ;
    margin-top: 20%;
    align-items: flex-e}