 <!--Section: Design Block-->
 <section id="home-section=">
    <div id="intro" class="bg-image" style="
        background-image: url('https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg?cs=srgb&dl=pexels-uzunov-rostislav-5011647.jpg&fm=jpg&_gl=1*1gkco68*_ga*NzM4MDEyNzEzLjE2NTQ1MzY1Nzg.*_ga_8JE65Q40S6*MTY2NjA4ODE5My4yLjEuMTY2NjA4ODM1MS4wLjAuMA..');
        height: 20vh; ">
     
        <div class="container d-flex justify-content-center align-items-center h-100">
          <div class="row align-items-center">
            <div class="col-12">
             
            
            </div>   
          </div>
        </div>
      </div>

</section>
